<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tzapps.tzpalette"
    android:versionCode="1"
    android:versionName="0.0.1" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18" />
    <uses-feature android:name="android.hardware.camera"/>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        
        <!-- OPTIONS FOR TEST 
	        android:hardwareAcelerated="false" 
	        android:uiOptions="splitActionBarWhenNarrow"
	        android:largeHeap="true"  
        -->
        
        <activity
            android:name="com.tzapps.tzpalette.ui.MainActivity"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- filter for sending images; accepts SEND action and image data -->
		    <intent-filter>
		        <action android:name="android.intent.action.SEND"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <data android:mimeType="image/*"/>
		    </intent-filter>
        </activity>
        
        <activity 
            android:name="com.tzapps.tzpalette.ui.SettingsActivity"
            android:label="@string/title_settings_view"
            android:parentActivityName="com.tzapps.tzpalette.ui.MainActivity" />
        
        <activity 
            android:name="com.tzapps.tzpalette.ui.PaletteCardActivity"
            android:label="@string/title_palette_card_view"
            android:parentActivityName="com.tzapps.tzpalette.ui.MainActivity" />
        
    </application>

</manifest>
